<h1 class="catalog-title">Ben1ci0_ Products</h1>

<% if authenticated? %>
  <%= link_to "New product", new_product_path, class: "new-product-button" %>
<% end %>

<%= form_with url: products_path, method: :get, local: true do %>
  <div>
    <%= label_tag :query, "Search products:" %>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search" %>
  </div>
<% end %>


<div id="products">
  <% if @products.empty? %>
    <p>No products found for "<%= params[:query] %>".</p>
  <% end %>

  <% @products.each do |product| %>
    <%= link_to product_path(product), class: "product-card" do %>
      <div>
        <%= image_tag product.featured_image, alt: product.name if product.featured_image.attached? %>
        <h2><%= product.name %></h2>
        <p><%= product.description.to_plain_text.truncate(80) %></p>
      </div>
    <% end %>
  <% end %>
</div>
